<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
</style>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script>
let helperInit = function() {
	$('#idHelper').text("");
	$('#pwHelper').text("");
	$('#nameHelper').text("");
	$('#addrHelper').text("");
	$('#phoneHelper').text("");
	$('#memberIdHelper').text("");
	$('#emailHelper').text("");
};

$(document).ready(function() {
	$('#btn').click(function(){

		if($('#memberId').val().length < 4) {
			helperInit();
			$('#idHelper').text("id 4자이상");
			$('#memberId').focus();
		} else if($('#memberPw').val().length < 4) {
			helperInit();
			$('#pwHelper').text("pw 4자이상");
			$('#memberPw').focus();
		} else if($('#memberPw').val() != $('#memberPw2').val()) {
			helperInit();
			$('#pwHelper').text("pw를 확인하세요");
			$('#memberPw').focus();
		} else if($('#memberName').val().length === 0) {
			helperInit();
			$('#nameHelper').text("이름을 입력하세요");
			$('#memberName').focus();
		} else if($('#memberAddr').val().length === 0) {
			helperInit();
			$('#addrHelper').text("주소를 입력하세요");
			$('#memberAddr').focus();
		} else if($('#memberPhone').val().length === 0) {
			helperInit();
			$('#phoneHelper').text("전화번호를 입력하세요");
			$('#memberPhone').focus();
		} else if($('#memberEmail').val().length === 0) {
			helperInit();
			$('#emailHelper').text("이메일을 입력하세요");
			$('#memberEmail').focus();
		} else {
			$('#myform').submit();
		}
		
	}); //btn click end
	
	$('#idBtn').click(function() {
		if($('#memberIdCheck').val().length < 4) {
			helperInit();
			$('#memberIdHelper').text("id 4자이상")
			$('#memberIdCheck').focus();
			retrun;
		}
		$('#idForm').submit();
	}); // idBtn click end
}); //document ready end
</script>
</head>
	<body>
		<div class="container">
			<h1>회원가입</h1>
			<form method="post" th:action="@{checkMemberId}" id="idForm">	
				<div class="input-group mb-3">
					<span class="input-group-text">아이디 중복 확인 </span>&nbsp;
					<input class="form-control-md" type="text" name="memberIdCheck" id="memberIdCheck">
					<button id="idBtn" type="button">중복체크</button>
					<span th:text="${msg}"></span>
					<span th:text="${msg2}"></span>
					<span id="memberIdHelper"></span>
				</div>
			</form>	
			<!-- multipart/form-data 파일을 바이트타입으로 변환 시키는 인코딩 -->
			<form method="post" th:action="@{addMember}" id="myform" enctype="multipart/form-data">
				<div class="input-group mb-3">
					<span class="input-group-text">사진</span>&nbsp;
					<input type="file" name="memberPic" id="memberPic">
				</div>
				
				<div class="input-group mb-3">
					<span class="input-group-text">아이디 </span>&nbsp;
					 <input type="text" th:value="${memberIdCheck}" name="memberId" id="memberId" readonly="readonly">
					<span id="idHelper"></span>
				</div>
				<div class="input-group mb-3">
					<span class="input-group-text">비밀번호 </span>&nbsp;
					<input type="password" name="memberPw" id="memberPw"> 
					<span id="pwHelper"></span>
				</div>
				<div class="input-group mb-3">
					<span class="input-group-text">비밀번호 확인</span>&nbsp;
					<input type="password"  id="memberPw2"> 
				</div>
				<div class="input-group mb-3">
					<span class="input-group-text">사용자 이름</span>&nbsp;
					<input type="text" name="memberName" id="memberName"> 
					<span id="nameHelper"></span>
				</div>
				<div class="input-group mb-3">
					<span class="input-group-text">주소</span>&nbsp;
					<input type="text" name="memberAddr" id="memberAddr"> 
					<span id="addrHelper"></span>
				</div>
				<div class="input-group mb-3">
					<span class="input-group-text">전화번호</span>&nbsp;
					<input type="text" name="memberPhone" id="memberPhone">
					<span id="phoneHelper"></span> 
				</div>
				<div class="input-group mb-3">
					<span class="input-group-text">이메일</span>&nbsp;
					<input type="text" name="memberEmail" id="memberEmail"> 
					<span id="emailHelper"></span>
				</div>
				<button type="button" id="btn" class="button">회원가입</button>
			</form>
		</div>
	</body>
</html>