<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style th:include="/include/menu::side"></style>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
	<body>
	<div th:include="/include/menu::sidemenu" class="sidenav"></div>
		<div class="container">
			<h1>상세게시글</h1>
			<table class="table table-bordered table-striped">
				<tr>
					<th>게시글번호</th>
					<td th:text="${board.boardNo}"></td>
				</tr>
				<tr>
					<th>작성자</th>
					<td th:text="${board.memberId}"></td>
				</tr>
				<tr>
					<th>제목</th>
					<td th:text="${board.boardTitle}"></td>
				</tr>
				<tr>
					<th>내용</th>
					<td th:text="${board.boardContents}"></td>
				</tr>
				<tr>
					<th>작성날짜</th>
					<td th:text="${board.boardDate}"></td>
				</tr>
			</table>
		</div>
	</body>
</html>