<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style th:include="/include/menu::side"></style>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
	<body>
		<div th:include="/include/menu::sidemenu" class="sidenav"></div>
		<div class="container">
		<h1>게시판 목록</h1>
		<div class="d-flex">
			 <a class="btn btn-light" role="button" th:href="@{/addBoard}">게시글작성</a>
			 <a class="btn btn-light" role="button" th:href="@{/boardMyInfo(memberId=${loginMember})}">내 게시글</a>
		</div>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>게시글번호</th>
					<th>제목</th>
					<th>작성자</th>
					<th>작성날짜</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="list : ${list}">
					<td><a class="btn btn-light" role="button" th:text="${list.boardNo}" th:href="@{/boardInfo(boardNo=${list.boardNo})}">상세보기</a></td>
					<td th:text="${list.boardTitle}"></td>
					<td th:text="${list.memberId}"></td>
					<td th:text="${list.boardDate}"></td>
				</tr>
			</tbody>
		</table>
			<form method="get" action="/boardList">
				<input type="search" name="seach" id="seach">
				<button type="submit">검색</button>
			</form>
		</div>
	</body>
</html>