<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style th:include="/include/menu::side"></style>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
	<body>
		<div th:include="/include/menu::sidemenu" class="sidenav"></div>
		<div class="center">
		<h1>나의 게시글 목록</h1>
		<div>
			 <a class="btn btn-light" role="button" th:href="@{/addBoard}">게시글작성</a>
			 <a class="btn btn-light" role="button" th:href="@{/boardList}">게시글목록</a>
		</div>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>제목</th>
					<th>내용</th>
					<th>내아이디</th>
					<th>작성날짜</th>
					<th>삭제</th>
					<th>수정</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="myBoardList : ${myBoardList}">
					<td th:text="${myBoardList.boardTitle}"></td>
					<td th:text="${myBoardList.boardContents}"></td>
					<td th:text="${myBoardList.memberId}"></td>
					<td th:text="${myBoardList.boardDate}"></td>
					<td><a th:href="@{/removeBoard(boardTitle=${myBoardList.boardTitle}, boardContents=${myBoardList.boardContents}, memberId=${memberId}, boardNo=${myBoardList.boardNo})}">삭제</a></td>
					<td><a th:href="@{/modifyBoard(boardNo=${myBoardList.boardNo}, memberId=${memberId})}">수정</a></td>
				</tr>
			</tbody>
		</table>
	</body>
</html>