<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script>
$(document).ready(function() {
	$('#btn').click(function(){
		if($('#memberName').val().length<1) {
			alert('이름을 입력하세요');
			return;
		}
		if($('#memberPhone').val().length<1) {
			alert('번호를 입력하세요');
			return;
		}
		if($('#memberEmail').val().length<1) {
			alert('메일을 입력하세요');
			return;
		}
		$('#findid').submit();
	});
});
</script>
</head>
	<body>
		<div class="container">
		<h1>아이디 찾기</h1>
		<form method="post" th:action="@{findMemberId}" id="findid">
			<table class="table table-striped">
				<tr>
					<th>
						이름
					</th>
					<td>
						<input type="text" name="memberName" id="memberName">
					</td>
				</tr>
				<tr>
					<th>
						전화번호
					</th>
					<td>
						<input type="text" name="memberPhone" id="memberPhone">
					</td>
				</tr>
				<tr>
					<th>
						이메일
					</th>
					<td>
						<input type="text" name="memberEmail" id="memberEmail">
					</td>
				</tr>
			<tr>
				<th>
					&nbsp;
				</th>
				<td>
					<button type="button" id="btn">찾기</button>
				</td>
			</tr>
			</table>
		</form>
		</div>
	</body>
</html>