<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>CashList</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<style th:include="/include/menu::side"></style>
</head>
<div th:include="/include/menu::sidemenu" class="sidenav"></div>
	<body>
		<div class="container"><center>
		<h1 class="main">2020년 가계부</h1>
		<div th:text="${day}"></div>
		<div>
			<a th:href="@{/getCashListByDate(day=${day.plusDays(-1)})}">이전</a>
			<a th:href="@{/getCashListByDate(day=${day.plusDays(1)})}">다음</a>		
		</div>
		<table border="1">
			<thead>
				<tr>
					<td>&nbsp;</td>
					<td>카테고리</td>
					<td>수입</td>
					<td>지출</td>
					<td>장소</td>
					<td>메모</td>
					<td>날짜</td>
					<td>삭제</td>
					<td>수정</td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="list, index : ${cashlist}">
					<td th:text="${index.index}+1"></td>
					<td th:text="${list.categoryName}"></td>
					
					<!-- thymeleaf if~else문 : if/unless  -->
					<td th:if="${list.cashKind} == '수입'" th:text="${'+' + list.cashPrice}"></td>
					<td th:unless="${list.cashKind}=='수입'"></td>
					<td th:if="${list.cashKind} == '지출'" th:text="${'-' + list.cashPrice}"></td>
					<td th:unless="${list.cashKind}=='지출'"></td>
					<!-- 삼항연산자 : 조건 ? 참값 : 거짓값 
					<td th:text="${list.cashKind} == '지출' ? ${'-' + cash.Price} : ''"></td>
					
					-->
					<td th:text="${list.cashPlace}"></td>
					<td th:text="${list.cashMemo}"></td>
					<td th:text="${day}"></td>
					<td><a th:href="@{/removeCash(cashNo=${list.cashNo})}">삭제</a></td>
					<td><a th:href="@{/modifyCash(cashNo=${list.cashNo})}">수정</a></td>
				</tr>
			</tbody>
		</table>
			<div>(수입+지출)합계: <span th:text="${cashKindSum}"></span></div>
			<div><a th:href="@{/addCash}">입력</a></div>
	</div></center>	
	</body>
</html>