<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style th:include="/include/menu::side"></style>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
	<body>
	<div th:include="/include/menu::sidemenu" class="sidenav"></div>
		<div class="container">
			<h1>memberInfo</h1>
			<div class="d-flex">
				 <a class="btn btn-light" role="button" th:href="@{/modifyMember}">회원수정</a>
				 <a class="btn btn-light" role="button" th:href="@{/removeMember}">회원탈퇴</a>
			</div>
			<table class="table table-bordered table-striped">
				<tr>
					<th>사진</th>
					<td>
						<img th:src="@{'/upload/'+${member.memberPic}}"></img>
						<!--  <img src="@{/upload/$member.memberPic}">-->
					</td>
				</tr>
				<tr>
					<th>아이디</th>
					<td th:text="${member.memberId}"></td>
				</tr>
				<tr>
					<th>이름</th>
					<td th:text="${member.memberName}"></td>
				</tr>
				<tr>
					<th>주소</th>
					<td th:text="${member.memberAddr}"></td>
				</tr>
				<tr>
					<th>전화번호</th>
					<td th:text="${member.memberPhone}"></td>
				</tr>
				<tr>
					<th>이메일</th>
					<td th:text="${member.memberEmail}"></td>
				</tr>
			</table>
		</div>
	</body>
</html>