<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ModifyCash</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script>
$(document).ready(function() {
	$('#btn').click(function(){
		$('#categoryName').val('Default Value'); //버튼 클릭시 직접입력한 값에 벨류값을 없앰
		$('#myform').submit();
	});
});
// 직접입력 선택 시 카테고리 추가기능
$(function(){
    //직접입력 인풋박스 기존에는 숨어있다가
$("#insertCategoryName").hide();
$("#categoryName").change(function() {
              //직접입력을 누를 때 나타남
		if($("#categoryName").val() == "self") {
			$("#insertCategoryName").show();
		}  else {
			$("#insertCategoryName").hide();
		}
	}) 
});
</script>

<style th:include="/include/menu::side"></style>
</head>
<div th:include="/include/menu::sidemenu" class="sidenav"></div>
<body><center>
	<h1>가계부 수정</h1>
	<form method="post" action="/modifyCash" id="myform">
				<div>
					<input type="hidden" th:value="${modiCash.cashNo}" name="cashNo" id="cashNo" readonly="readonly"> 
				</div>
				<div>
					가계부 날짜
				</div>
				<div>
					<input type="date" th:value="${modiCash.cashDate}" name="cashDate" id="cashDate"> 
				</div>
				<div>
					가계부 수입/지출
				</div>
				<select id="cashKind" name="cashKind">
                     <option value="수입" th:selected="${modiCash.cashKind eq '수입'}">수입</option>
                     <option value="지출" th:selected="${modiCash.cashKind eq '지출'}">지출</option>
                </select>
				<div class="text">
					카테고리
				</div>
				<select name="categoryName" id="categoryName">
					<option th:each="cList : ${cList}" th:value="${cList.categoryName}" th:text="${cList.categoryName}" th:selected="${cList.categoryName eq modiCash.categoryName}"></option>
					<option value="self">직접입력</option>
				</select>
					<input type="text" id="insertCategoryName" name="insertCategoryName"/>
				<div class="text">
					금액
				</div>
				<div>
					<input type="text" th:value="${modiCash.cashPrice}" name="cashPrice" id="cashPrice"> 
				</div>
				<div class="text">
					장소
				</div>
				<div>
					<input type="text" th:value="${modiCash.cashPlace}" name="cashPlace" id="cashPlace"> 
				</div>
				<div class="text">
					메모
				</div>
				<div>
					<input type="text" th:value="${modiCash.cashMemo}" name="cashMemo" id="cashMemo"> 
				</div>
				<button type="button" id="btn" class="button">가계부 수정</button>
	</form>
</body></center>
</html>