<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title> CONFIRM</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script>
$(document).ready(function() {
	$('#btn').click(function(){
		$('#remoform').submit();
	});
});
</script>
</head>
	<body>
		<div class="container">
	  	<h1>회원 비밀번호 재확인</h1>
			<form method="post" th:action="@{removeMember}" id="remoform">
				<table class="table table-striped">
					<tr>
						<th>
							비밀번호 입력
						</th>	
						<td>
							<input type="password" name="memberPw" id="memberPw">
						</td>
					</tr>
					<tr>
						<th>
							&nbsp;
						</th>
						<td>
							<button type="button" id="btn">회원탈퇴</button>
						</td>	
					</tr>
				</table>	
			</form>
		</div>	
		<!--  
			<form method="get" action="/modifyMember" >
				<div>
					<input type="text" th:value="${session.loginMember.memberId}" name="memberId" id="memberId">
				</div>
				<div>
					비밀번호 입력:
					<input type="password" name="memberPw" id="memberPw">
				</div>
					<button type="submit">회원정보수정</button>
			</form>
		-->
	</body>
</html>