<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdu.cashbook.mapper.BoardMapper">
	<!-- 총 게시글 갯수 출력 -->
	<select id="countBOard" resultType="int">
		SELECT COUNT(*) FROM BOARD
	</select>
	<!-- 게시글리스트 -->
	<select id="selectBoardList" parameterType="java.util.Map" resultType="com.gdu.cashbook.vo.Board">
		SELECT
			board_no as boardNo,
			member_id as memberId,
			board_title as boardTitle,
			board_date as boardDate 
		FROM board
		WHERE board_title LIKE CONCAT('%', #{search}, '%')
		ORDER BY board_no DESC	
	</select>
	<!-- 게시글 상세보기 -->
	<select id="selectBoardOne" parameterType="com.gdu.cashbook.vo.Board" resultType="com.gdu.cashbook.vo.Board">
		SELECT
			board_no as boardNo,
			member_id as memberId,
			board_title as boardTitle,
			board_contents as boardContents,
			board_date as boardDate
		FROM board
		WHERE board_no = #{boardNo}
	</select>
	<!-- 게시글 추가하기 -->
	<insert id="insertBoard" parameterType="com.gdu.cashbook.vo.Board">
		INSERT INTO board(
			board_no,
			board_title,
			board_contents,
			member_id,
			board_date
		) VALUES (
			#{boardNo},
			#{boardTitle},
			#{boardContents},
			#{memberId},
			NOW()
		)
	</insert>
	<!-- 내 게시글 보기-->
	<select id="selectMyBoardList" resultType="com.gdu.cashbook.vo.Board" parameterType="java.util.Map">
		SELECT
			board_no as boardNo,
			member_id as memberId,
			board_title as boardTitle,
			board_contents as boardContents,
			board_date as boardDate 
		FROM board	
		WHERE member_id = #{memberId}
		AND board_title LIKE CONCAT('%', #{myseach}, '%')
	</select>
	<!-- 게시판 삭제 -->
	<delete id="deleteBoard" parameterType="com.gdu.cashbook.vo.Board">
		DELETE
		FROM board
		WHERE member_id = #{memberId}
		AND board_no = #{boardNo}
	</delete>
	<!-- 수정폼 셀렉트 -->
	<select id="selectByUpdate" resultType="com.gdu.cashbook.vo.Board" parameterType="com.gdu.cashbook.vo.Board">
		SELECT
			board_no as boardNo,
			member_id as memberId,
			board_title as boardTitle,
			board_contents as boardContents,
			board_date as boardDate
		FROM board
		WHERE board_no = #{boardNo}
		AND member_id = #{memberId}	
	</select>
	<!-- 게시글 수정액션 -->
	<update id="updateBoard" parameterType="com.gdu.cashbook.vo.Board">
		UPDATE 
			board
		SET board_title = #{boardTitle},
			board_contents = #{boardContents},
			board_date = NOW()
		WHERE board_no = #{boardNo}	
	</update>
	<!-- 회원 탈퇴 시 작성게시글 전부 삭제 -->
	 <delete id="alldeleteByBoard" parameterType="String">
	 	DELETE
		FROM board
		WHERE member_id = #{memberId}
	 </delete>
</mapper>