<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdu.cashbook.mapper.CategoryMapper">
	<!-- 카테고리 리스트 목록 -->
	<select id="selectCategoryList" resultType="com.gdu.cashbook.vo.Category">
		SELECT
			category_name as categoryName
		FROM category
	</select>
	<!-- 가계부 추가시 카테고리 추가 -->
	<insert id="insertCategoryOne" parameterType="com.gdu.cashbook.vo.Category">
		INSERT INTO category(
			category_name
		) VALUES (
			#{categoryName}
		)
	</insert>
	<!-- 가계부 추가시 카테고리 중복 확인 -->
	<select id="selectCategory" parameterType="com.gdu.cashbook.vo.Category"  resultType="com.gdu.cashbook.vo.Category">
		SELECT
			category_name as categoryName
		FROM category
		WHERE category_name = #{categoryName}
	</select>
</mapper>