<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdu.cashbook.mapper.MemberMapper">
	<!-- 현재 로그인한 멤버의 회원탈퇴 -->
	<delete id="deleteMember" parameterType="com.gdu.cashbook.vo.LoginMember">
		DELETE 
		FROM member 
		WHERE member_id = #{memberId}
		AND	member_pw = PASSWORD(#{memberPw})
	</delete>
	<!-- 수정폼 수정할때 비밀번호도 가져옴 -->
	<select id="selectMemberUpdate" parameterType="com.gdu.cashbook.vo.LoginMember" resultType="com.gdu.cashbook.vo.Member">
		SELECT
			member_id as memberId,
			member_pw as memberPw,
			member_name as memberName,
			member_addr as memberAddr,
			member_phone as memberPhone,
			member_email as memberEmail
		FROM member	
		WHERE member_id = #{memberId}
	</select>
	<!-- 로그인한 회원정보 수정액션 -->
	<update id="updateMember" parameterType="com.gdu.cashbook.vo.Member">
		UPDATE 
			member 
		SET member_pw = PASSWORD(#{memberPw}),
			member_name = #{memberName},
			member_addr = #{memberAddr},
			member_phone = #{memberPhone},
			member_email = #{memberEmail}
		WHERE member_id = #{memberId}
	</update>
	<!-- 로그인한 회원의 상세정보 #{memberId}<-로그인 멤버의 아이디 -->
	<select id="selectMemberOne" parameterType="com.gdu.cashbook.vo.LoginMember" resultType="com.gdu.cashbook.vo.Member">
		SELECT
			member_id as memberId,
			member_name as memberName,
			member_addr as memberAddr,
			member_phone as memberPhone,
			member_email as memberEmail
		FROM member
		WHERE member_id = #{memberId}
	</select>
	<!-- 회원 가입시 아이디중복확인쿼리 -->
	<select id="selectMemberId" parameterType="String" resultType="String">
		SELECT 
			member_id
		FROM (	SELECT member_id FROM member
				UNION
				SELECT member_id  FROM memberid) t
		WHERE member_id = #{memberIdCheck}
	</select>
	<!-- 로그인 쿼리 -->
	<select id="selectLoginMember" parameterType="com.gdu.cashbook.vo.LoginMember" resultType="com.gdu.cashbook.vo.LoginMember">
		SELECT 
			member_id as memberId
		FROM member
		WHERE member_id = #{memberId}
		AND member_pw = PASSWORD(#{memberPw})	
	</select>
	<!-- 회원가입 쿼리 -->
	<insert id="insertMember" parameterType="com.gdu.cashbook.vo.Member">
		INSERT INTO member(
			member_id,
			member_pw,
			member_name,
			member_addr,
			member_phone,
			member_email
		) VALUES (
			#{memberId},
			PASSWORD(#{memberPw}),
			#{memberName},
			#{memberAddr},
			#{memberPhone},
			#{memberEmail}
		)
	</insert>
</mapper>
          